#map {
  display: none;
  margin: auto;
  width: 80%;
  height: 600px;
  border-radius: 5px;
}

#map.show {
  display: block;
}

.popup {
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  width: 200px;
  height: auto;
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  max-width: 350px;
  /* margin: auto; */
  border: 2px solid #333; /* Add border around the calendar */
  /* border-radius: 10px; Rounded corners */
}

.calendar div {
  padding: 10px;
  /* background-color: #e0e0e0; */
  text-align: center;
  font-size: 14px;
  border: 1px solid #333;
}

/* .calendar .day {
  background-color: #90caf9;
  color: white;
} */

.calendar .highlight {
  background-color: #ffab91;
  color: white;
  cursor: pointer;
}

.calendar h3 {
  grid-column: span 7;
  text-align: center;
  background-color: #333;
  color: white;
  margin: 0;
  padding: 10px 0;
  font-size: 18px;
  border-bottom: 2px solid #333;
}