body {
  font-family: 'Corbel', 'Verdana', 'Helvetica';
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  background-color: #c4d2eb;
}

.japan {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #34006f;
  border-radius: 5px;
  box-shadow: 2px 2px;
  padding: 5px 10px;
}

.content {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 100%;
}

#map {
  display: none;
  margin: auto;
  width: 80%;
  height: 600px;
  border-radius: 5px;
}

#map.show {
  display: block;
}

.popup {
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  width: 200px;
  height: auto;
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  max-width: 350px;
  margin: auto;
  border: 2px solid #333;
  border-radius: 10px;
}

.calendar div {
  padding: 10px;
  text-align: center;
  font-size: 14px;
  border: 1px solid #333;
}

.calendar .highlight {
  background-color: #ffab91;
  color: white;
  cursor: pointer;
}

.calendar .selected {
  color: #333;
  font-weight: bold;
}

.calendar h3 {
  grid-column: span 7;
  text-align: center;
  background-color: #333;
  color: white;
  margin: 0;
  padding: 10px 0;
  font-size: 18px;
  border-bottom: 2px solid #333;
}
